[submodule "vendor/rails-reloaded"]
	path = vendor/rails-reloaded
	url = git://github.com/dima-exe/emacs-rails-reloaded.git
[submodule "vendor/rinari"]
	path = vendor/rinari
	url = git://github.com/eschulte/rinari.git
[submodule "vendor/smart-tab"]
	path = vendor/smart-tab
	url = git://github.com/dhax/smart-tab.git
[submodule "vendor/vimpulse"]
	path = vendor/vimpulse
	url = git://gitorious.org/vimpulse/vimpulse.git
