[submodule "vendor/rails-reloaded"]
	path = vendor/rails-reloaded
	url = git://github.com/dima-exe/emacs-rails-reloaded.git
[submodule "vendor/rinari"]
	path = vendor/rinari
	url = git://github.com/eschulte/rinari.git
[submodule "vendor/vimpulse"]
	path = vendor/vimpulse
	url = git://gitorious.org/vimpulse/vimpulse.git
[submodule "vendor/ruby-emacs"]
	path = vendor/ruby-emacs
	url = git://github.com/smtlaissezfaire/ruby-emacs.git
[submodule "vendor/twilight-emacs"]
	path = vendor/twilight-emacs
	url = git://github.com/crafterm/twilight-emacs.git
